include ./mixin_answer.pug
include ./mixin_tag.pug

mixin thread(thread, isAdmin)
    div(class="thread card bg-light mb-4 border-dark" data-thread-id=thread._id)
        div(class="card-header")
            div(class="row")
                h6(class="col-sm-10 my-0 card-title")
                    span(class="font-weight-bold text-uppercase mr-1")= thread.isSolved ? "[SOLVED]" : ""
                    span(class='question')!= thread.question
                small(class="col-sm-2 text-right font-weight-light")
                    | #{thread.creationDate.getHours()}:#{thread.creationDate.getMinutes()}
                    | #{thread.creationDate.getDate()}/#{thread.creationDate.getMonth()}/#{thread.creationDate.getYear() - 100}
            div(class="tags row mx-1 mt-md-1")
                each tag in thread.tags
                    +tag(tag)
                a(class="addTagBtn mx-1 btn-sm btn-outline-primary" href="#" data-toggle="tooltip" data-placement="right" title="Add tag")
                    i(class="fa fa-plus-square" aria-hidden="true")
                    span(class="sr-only") Add
        div(class="card-body")
            div(class="row text-light mx-sm-2")
                div(class="col-1")
                    a(class="threadUpVoteBtn row btn-sm btn-outline-primary justify-content-center" href="#")
                        i(class="fa fa-2x fa-chevron-up")
                        span(class="sr-only") up vote
                    div(class="row justify-content-center")
                        span(class="votes text-dark")= thread.votes
                    a(class="threadDownVoteBtn row btn-sm btn-outline-primary justify-content-center" href="#")
                        i(class="fa fa-2x fa-chevron-down")
                        span(class="sr-only") up vote
                div(class="extraInfo col")
                if isAdmin
                    div(class="col-1 text-center mr-1")
                        a(class="deleteThreadBtn row btn-sm btn-secondary justify-content-center" href="#")
                            i(class="fa fa-2x fa-trash")
                            span(class="sr-only") delete
            div(class="row")
                a(class="answerButton mx-auto btn btn-primary text-light" href="#")
                    if(thread.answers.length > 0)
                        | Answer
                    else
                        | Be the first to answer
            div(class="row")
                div(class="col text-center")
                    a(class="answersVisibilityToggler text-primary" href="#")
                        i(class="fa fa-caret-down")
                        span(class="ml-2")
                            span(class="amountAnswers")=thread.answers.length
                            |  answers
            ul(class="answers row list-group list-group-flush" style="display: none")
                each answer in thread.answers
                    +answer(answer, isAdmin)