include ./mixin_comment.pug

mixin answer(answerObject, isAdmin)
    li(class="answer list-group-item my-1 bg-light border-primary border-bottom-0" data-answer-id=answerObject._id)
        div(class="row py-1 rounded " + (answerObject.isApproved ? "bg-success" : ""))
            div(class="col-1")
                a(class="answerUpVoteBtn row btn-sm btn-outline-primary justify-content-center" href="#")
                    i(class="fa fa-2x fa-angle-up")
                    span(class="sr-only") up vote
                div(class="row justify-content-center")
                    span(class="answerVotes text-dark")= answerObject.votes
                a(class="answerDownVoteBtn row btn-sm btn-outline-primary justify-content-center" href="#")
                    i(class="fa fa-2x fa-angle-down")
                    span(class="sr-only") up vote
            div(class="col")
                span(class="answerText")!= answerObject.answer
                each image in answerObject.images
                    img(src=image class='img-fluid rounded img-thumbnail')
            div(class="col-1 text-center")
                if answerObject.author.isAdmin
                    span(class="btn p-0 row text-secondary" data-toggle="tooltip" data-placement="bottom" title="Answer by teacher")
                        i(class="fa fa-graduation-cap" aria-hidden="true")
                a(class="commentButton row my-1 btn-sm btn-primary text-light justify-content-center" href="#" data-toggle="tooltip" data-placement="bottom" title="Add a comment")
                    span(class="fa fa-comment" aria-hidden="true")
                    span(class="sr-only") comment
                if isAdmin
                    a(class="deleteAnswerBtn row my-1 btn-sm btn-secondary justify-content-center" href="#" data-toggle="tooltip" data-placement="bottom" title="Delete this answer")
                        span(class="fa fa-trash" aria-hidden="true")
                        span(class="sr-only") delete answer
                    a(class="approveAnswerBtn row my-1 btn-sm btn-secondary justify-content-center" href="#" data-toggle="tooltip" data-placement="bottom" title="Approved this answer")
                        span(class="fa fa-check" aria-hidden="true")
                        span(class="sr-only") approve answer
        div(class="row text-center my-2")
            div(class="col")
                a(class="col commentsVisibilityToggler text-primary" href="#")
                    i(class="fa fa-caret-down")
                    span(class="ml-2")
                        span(class="amountComments")=answerObject.comments.length
        ul(class="comments fa-ul mt-2" style="display:none")
            each comment in answerObject.comments
                +comment(comment)